<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportFit  | Home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/e2983a7846.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="home">
    <header>
      <img src="/img/logo.jpg" alt="Imagen del logo" id="logo"/>
      <nav>
        <ul>
          <li><a href="#"><i class="fa-solid fa-house" ></i></a></li>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
          <li><a href="/login.html"><i class="fa-solid fa-user"></i></a></li>
        </ul>
      </nav>
      <i class="fa-solid fa-bars"></i>
      <nav>
        <ul>
          <a href="">HOMBRE</a>
          <a href="">MUJER</a>
        </ul>
      </nav>
    </header>
    <main class="main__home">
      <div class="home__banner">
        <img src="/img/banner1.jpg" alt="banner"/>
       
      </div>
      <div class="home__products">
        <article class="home__article">
          <img src="/img/camisetaBocaHombre.jpg" alt="Camiseta de boca para hombre"/>
          
          <h4>Camiseta de boca para hombre</h4>
          <p>$45.000</p>
          <a href="">ver mas</a>
        </article>
        <article class="home__article">
          <img src="/img/camisetaBocaMujer.jpg" alt="Camiseta de boca para mujer"/>
          <h4>Camiseta de boca para mujer</h4>
          <p>$45.000</p>
          <a href="">ver mas</a>
        </article>
        <article class="home__article">
          <img src="/img/shortHombreGris.jpg" alt="Short de hombre gris" />
          <h4>Short de hombre gris</h4>
          <p>$25.000</p>
          <a href="">ver mas</a>
        </article>
        <article class="home__article">
          <img src="/img/shortMujerRosa.jpg" alt="Short de mujer rosa" />
          <h4>Short de mujer rosa</h4>
          <p>25.000</p>
          <a href="">ver mas</a>
        </article>
        <article class="home__article">
          <div class="home__article_product">
          <img src="/img/conjuntoDeportivoHombre.jpg" alt="Conjunto deportivo de hombre"/>
          <h4>Conjunto deportivo de hombre</h4>
          <p>$30.000</p>
          <a href="">ver mas</a>
        </div>
        </article>
        <article class="home__article">
          <img src="/img/conjuntoDeportivoMujer.jpg" alt="Conjunto deportivo de mujer" />
          <h4>Conjunto deportivo de mujer</h4>
          <p>$30.000</p>
          <a href="">ver mas</a>
        </article>
        <article class="home__article">
          <div class="home__article_product">
          <img src="/img/remeraAzulHombre.jpeg" alt="Remera de hombre azul"/>
          <h4>Remera de hombre azul</h4>
          <p>$30.000</p>
          <a href="">ver mas</a>
        </div>
        </article>
        <article class="home__article">
          <img src="/img/remeraMujerFucsia.jpg" alt="Remera de mujer fucsia"/>
          <h4>Remera de mujer fucsia</h4>
          <p>$30.000</p>
          <a href="">ver mas</a>
        </article>
      </div>
    </main>
    <footer class="footer">
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Quienes</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <nav class="footer__nav__redes">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </nav>
    </footer>
  </body>
</html>
