<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportFit | Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/c65f2f1cc8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="login__body">
    <header class="header">
      <nav class="header__nav">
        <div class="icon--sportfit">
          <a href="/"><img src="/img/logo-2.png" alt="logoSportFIt"></a>
                  
        </div>
    
        <ul class="header__nav--left">
          <li class="burguer-menu"><a href="#"><i class="fa-solid fa-bars"></i></a></li>  
          <li class="icon"><a href="#"><i class="fa-solid fa-search"></i></a></li>
          <div class="home__main__header--search">
              <input class="home__main__input" type="text" placeholder="Buscar">  
              <button type="submit"><i class="fa-solid fa-search"></i></button>     
          </div>
                    
        </ul>  
        <ul class="header__nav--right">
          <li><a href="/carritoCompras"><i class="fa-solid fa-cart-shopping"></i></a></li>
          <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
        </ul>    
      </nav>
      <nav class="header__nav--categoria">
        <ul class="header__nav__ul--categoria">
          <li><a href="">hombre</a></li>
          <li><a href="">mujer</a></li>           
        </ul>
      </nav>
  
    </header>
    <main class="login__body__main">
      <section class="login__body__main__section">
        <div class="login__body__main__section--bienvenido">
          <h2>bienvenido</h2>
        </div>
        <form action="/login" method="post">
          <div class="login__box">
            <label class="login__label--email" for="email">Email</label>
            <div class="login__possition">
              <input
                class="login__input"
                id="email"
                type="email"
                placeholder="correo@correo.com"
                name="email"
              /><i class="fa-solid fa-envelope"></i>
            </div>
          </div>
          <div class="login__box">
            <label class="login__label--password" for="password"
              >Contraseña</label
            >
            <div class="login__possition">
              <input
                class="login__input"
                id="password"
                type="password"
                placeholder="Contraseña"
                name="password"
              /><i class="fa-solid fa-lock"></i>
            </div>
          </div>
          <div class="opciones__login">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember" id="remember-check">Recuerdame</label>
            <a href="" class="link">
              <p>¿Olvidaste la contraseña?</p>
            </a>
          </div>
          <div class="opciones__login--register">
            <p>¿No tienes cuenta?</p> 
            <a href="/register"><p>Registrate</p></a>
          </div>
          <div class="container--boton">
            <button class="boton" type="submit">
              Iniciar Sesion
            </button>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer">
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Quienes</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <nav class="footer__nav__redes">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </nav>
    </footer>
  </body>
</html>
