<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://kit.fontawesome.com/e2983a7846.js"
  crossorigin="anonymous"
></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body class="productDetail"> 
  <header class="login__body__header">
    <div>
      <i class="fa-solid fa-bars"></i>
    </div>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>      
    </div>
    <img src="/img/logo.jpg" alt="Imagen del logo" id="logo" />
    <nav class="login__body__header__nav--pages">
      <ul class="login__body__header__nav--pages__ul">
        <li>
          <a href="/index"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li>
          <a href="/login"><i class="fa-solid fa-user"></i></a>
        </li>
      </ul>
    </nav>
    <nav class="login__body__header__nav--categories">
      <ul>
        <li><a href="">Hombre</a></li>
        <li><a href="">Mujer</a></li>
      </ul>
    </nav>

  </header>
<main class="main--productDetail">
  <section class="main__section--productDetail">
    <article class="main__section__article--productDetail">
      <div class="article--productDetail--imgBack">
        <img src="/img/camisetaBoca-back.png" alt="camisetaBocaHombre">
      </div>
      <div class="article--productDetail--img">
        <img src="/img/camisetaBoca.png" alt="camisetaBocaHombre">        
      </div>    
    </article>

    <article class="main__section__article--productDetail--detail">   
      <div>

          <h3> $34.000,00 </h3>
          <p> Talles </p>

       </div>
      <div class="article--productDetail--sizes">      
        <p>S</p>
        <p>M</p>
        <p>L</p>
        <p>XL</p>
      </div>
    </article>
  </section>

  <section  class="main__section--productDetail">
    <div>
      <button type="submit"> añadir al carrito</button>
      <div>
        <p>cantidad</p>
         <p>1</p>

      </div>
    

    </div>
   
    <article>

    </article>

  </section>
</main>
<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Quienes</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <nav class="footer__nav__redes">
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </nav>
</footer>
</body>
</html>