<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://kit.fontawesome.com/e2983a7846.js"
  crossorigin="anonymous"
></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body class="productDetail"> 
  <header>
    <header class="header">
      <nav class="header__nav">
        <div class="icon--sportfit">
          <a href="/"> <img src="/img/logo-2.png" alt="logoSportFIt"></a>
                  
        </div>
    
        <ul class="header__nav--left">
          <li class="burguer-menu"><a href="#"><i class="fa-solid fa-bars"></i></a></li>  
          <li class="icon"><a href="#"><i class="fa-solid fa-search"></i></a></li>
          <div class="home__main__header--search">
              <input class="home__main__input" type="text" placeholder="Buscar">  
              <button type="submit"><i class="fa-solid fa-search"></i></button>     
          </div>
                    
        </ul>  
        <ul class="header__nav--right">
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
          <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
        </ul>    
      </nav>
      <nav class="header__nav--categoria">
        <ul class="header__nav__ul--categoria">
          <li><a href="">hombre</a></li>
          <li><a href="">mujer</a></li>           
        </ul>
      </nav>
  
    </header>
<main class="main--productDetail">
  <section class="main__section--productDetail">
    <div class="title--productDetail">
      <img class="icon--adidas" src="/img/adidas.png" alt="icon--adidas">
       <h3>Camiseta Adidas - Boca Jrs 22/2</h3>


    </div>
    <article class="main__section__article--productDetail">
      <div class="article--productDetail--img">
        <div class="article--productDetail--imgBack">
          <img src="/img/camisetaBoca-back.png" alt="camisetaBocaHombre">
        </div>
        <div class="article--productDetail--imgFront">
          <img src="/img/camisetaBoca.png" alt="camisetaBocaHombre">        
        </div> 
        <h3> $45.000,00 </h3>   
      </div>
       
      <div class="main__section__article--productDetail--detail">
       
      <div class="article--productDetail--talles">
      <p> Talles </p>     
      <div class="article--productDetail--sizes">
        <p>S</p>
      <p>M</p>
      <p>L</p>
      <p>XL</p>

      </div>         
    </div> 
      </div> 
    </article>
  </section>

  <section  class="main__section--productDetail">
    <div class="botton">
      <button  class="car--btn" type="submit"> añadir al carrito</button>
      <div class="box--total">
        <small>cantidad</small>
         <p>1</p>

      </div> 
    </div>
   
    <article class="main__section--productDetail--description">
          <h3>acerca del producto</h3>
          <div>
            <p> Lleva a tu equipo a todos lados con la Camiseta adidas Boca Juniors Tercera,
               elaborada en poliéster,
               con tecnología de absorción del sudor AEROREADY.
               <br>
                Rinde homenaje al campo de entrenamiento del club como 
                se ve en el estampado
                 CASA AMARILLA de la espalda. 
                 <br>
                 Mostra tu pasión por el xeneize con el escudo 
                 tejido en el pecho y alenta todos los días a tu equipo.
            </p>

          </div>

    </article>

  </section>
</main>
<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Quienes</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <nav class="footer__nav__redes">
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </nav>
</footer>
</body>
</html>