.body__carr {
   
    background-image: url(/images/fondodecarrito.jpg);
    background-size: cover;
}

.titulo-principal,
#text-titulo-resumen {
    font-size: calc(1.325rem + .9vw);
    text-align: center;
    margin: 10px 0;
    color: #ffffff;
}
.products {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1440px;
    margin: 0 auto;
  }
.products__article {
    margin: 10px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 20px;
    padding: 10px;
    height: 245px;
  }
  
  .products__article a{
    width: 40%;
    height: 50px;


  }
  .products__article__img{
    position: relative;
    width:100%;
   top:60px
  }
  
 .products__article__info {
    background-color: var(--colorGrisClaro);
    width: 90%;
    height: 225px;
    border-radius: 5px;
   
  }
  
  .products__article h2 {
    text-align: center;
    font-size:14px;
    color: #332f2c;
    text-decoration:underline;
    margin: 20px 10px 0px 0px ;
   
  }
  .products__article__info p {
 text-align: center;
color: #332f2c;
    text-decoration: line-through;
    position: relative;
    bottom: 32px;
  }
  .products__article__info span{
    text-align: center;
    color: darkgreen;
    text-decoration: none;
    position: relative;
   bottom: 25px;
   left: 25px;
  }
  .icons__products  {
      display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
    position: relative;
    bottom: 30px;
    left: 33vw;
       
        color: #332f2c;
    }
    .select
 {
   display: flex;
   flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
   padding-top: 20px;
   right: 40px;
    gap:5px;
}
.cod-promo  {
    color: black;
}
.section__pagos{
    background-color: var(--colorGrisClaro);
    margin: 15px 10px;
    padding: 5px;
    background-color: var( --colorVerdeAgua);
   
}
.codigo__de {
    margin:5px 40px 0px;

}
.detalle__pedido h3{
color: #332f2c;
text-align: center;

}
.div__total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;
}
.cod-promo  {
    font-size: 15px;
    color: black;
    padding: 6px;
    background-color:#ffffff;
    box-shadow: 0px 2px 2px 1px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.button{
   width: 100%;
}
.button-pagar{
    width: 80%;
    margin: 10px 30px;
    background-color:#8ae287;
    box-shadow: -5px 6px 2px 1px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.button-pagar i{
    position: relative;
    top:4px
}
.envio-cambio{
    margin: 15px;
}

@media (min-width:768px) {
    
    .products__article__img{
        top: 25px;
        width: 75%;
        left: 25px;
    }
    .titulo-principal{
        font-size: 2rem;
}
.products__article h2{
    font-size: 1.5rem;
}
.products__article__info p{
    font-size: 20px;
    margin: 0px 10px;
}
.products__article__info span{
   margin: 10px 150px
  }
  .icons__products  {
bottom: 40px;
  left: 36vw;
      color: #332f2c;
  }
  .select
  {
   position: absolute;
    padding-top: 20px;
    right: 55px;
     gap:5px;
 }
 .section__pagos__datos p{
    position: relative;
    left: 10vw;
 }
 .section__pagos__datos span{
    position: relative;
    right: 10vw;
 }
 .codigo__de {
    margin:5px 270px 0px;
    gap: 5px;

}
.cod-promo  {
   width: 60%;
   margin: 25px 160px;

}
.button{
   width: 60%;
   margin: 25px 195px;
}
}
@media (min-width: 1024px) {
    .div-carrito{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        position: relative;
    }
.products{
width: 60%;
display: flex;
flex-wrap: wrap;
align-content:start;
align-items: start;
right: 18vw;
position: relative;
    }
   
    .products__article{
        height: 215px;
    }
    .products__article h2{
        font-size: 20px;
    }
    .products__article__info{
        width: 70%;
        height: 195px;
    }
    .products__article__info span{
        text-align: center;
        color: darkgreen;
        text-decoration: none;
        margin: 10px 10vw;
      }
      .icons__products  {
    bottom: 24px;
      left: 19vw;
          
      }
      .select
      {
        display: flex;
        flex-wrap: wrap;
         justify-content: flex-end;
         position: absolute;
        padding-top: 10px;
        right: 83px;
         gap:5px;
     }
     .section__pagos{
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    justify-content: flex-end;
        position: absolute;
        left: 56vw;
      
       
        }
     .section__pagos__datos{
        width: 40%;
        display: flex;
        flex-direction: column;
     }
     .codigo__de {
        width: 60%;
        position: absolute;
        left: -16vw;
        top: 7px;
       
    
    }
    .detalle__pedido h3{
 font-size: 25px;
 position:absolute;
        left: 8vw;
        top: 37px;
    }
    .div__total{
        font-size: 18px;
        position: relative;
        
    }
    .div__total p{
        position: absolute;
        left: -24vw;
        top: 85px
    }
    .div__total span{
        position: relative;
        top: 85px;
        right: -5vw;
    }
    .cod-promo  {
        position: relative;
       width: 200%;
       right: 35vw;
       top:9vh;
    
    }
    .button{
        position: relative;
        width: 190%;
        right: 37vw;
        top:2vh;
    }
    .envio-cambio{
        width: 187%;
        position:relative;
        right: 33vw;
        
    }
    }
   @media (min-width: 1440px) {
   .products__article h2{
        font-size: 25px;
    }
    .products__article__info{
        width: 60%;
        height: 195px;
    }
    .products__article__img {
        top: 16px;
        width: 73%;
        left: 25px;
    }
    
      .icons__products  {
    bottom: 40px;
      left: 18vw;
      }
      .select
      {
        right: 106px;
        }
    .codigo__de {
        width: 60%;
        position: absolute;
        left: -5vw;
        top: 7px;
       
    
    }
    .detalle__pedido h3{
        font-size: 25px;
        position:absolute;
               left: 12vw;
               top: 37px;
    }
    .div__total{
        font-size: 18px;
        position: relative;
        
    }
    .div__total p{
        position: absolute;
        left: -24vw;
        top: 85px
    }
    .div__total span{
        position: relative;
        top: 85px;
        left: 8vw;
    }
    .cod-promo  {
        position: relative;
        width: 200%;
        right: 32vw;
        top:9vh;
    
    }
    .button{
        position: relative;
        width: 190%;
        right: 32vw;
        top:4vh;
    }
    .envio-cambio{
        width: 187%;
        position:relative;
        right: 33vw;
        
    }
}










  


