.swiper {
    width: 100%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 20%;
    height: 50%;
    object-fit: cover;
  }
  .swiper-button-next:after{
    position: relative;
    padding-bottom: 49vh;
   font-size: 15px;
  }
  .swiper-button-prev:after{
    position: relative;
    padding-bottom: 49vh;
font-size: 15px;
  }
  @media (min-width: 768px) {
    .swiper-button-next:after{
        position: relative;
        padding-top: 55vh;
       font-size: 25px;
      }
      .swiper-button-prev:after{
        position: relative;
        padding-top: 55vh ;
        font-size: 25px;
    }
}
@media (min-width: 1024px) {
    .swiper-button-next:after{
        position: relative;
        padding-top: 50vh;
       font-size: 25px;
      }
      .swiper-button-prev:after{
        position: relative;
        padding-top: 50vh ;
        font-size: 25px;
    }
}
@media (min-width: 1440px) {
    .swiper-button-next:after{
       
        padding-bottom: 5vh;
       font-size: 30px;
      }
      .swiper-button-prev:after{
   
       padding-bottom: 5vh ;
        font-size: 30px;
    }
}