.header {
  height: 65px;
  font-family: var(--Texto);
  background-color: var(--colorVerdeAgua);
  text-align: center;
}
.home__main__header--search {
  display: none;
}
.header__nav--left {
  position: absolute;
  left: 15px;
  top: 21px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.header__nav--right {
  position: absolute;
  right: 15px;
  top: 18px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.header__nav ul li a {
  color: #fff;
  text-decoration: none;
}
.header__nav--categoria {
  display: none;
}

.icon--sportfit img {
  width:15%;
  padding-top: 10px;
  animation: rotar 5s linear infinite
}

.icon--sportfit img:hover{
  cursor:pointer
}

@keyframes rotar{
  from{
    transform: rotateY(-180deg)
  }
  to{
    transform: rotateY(180deg)
  }

}

.accordion-item:last-of-type .accordion-button.collapsed{
  padding-top: 3px;
  padding-bottom: 0px;
}
.accordion-body{
  display: flex;
  flex-direction: column;
  }

.mouse{
  transition: background 0.5s linear;
 
}
.mouse:hover{
  
  background: rgba(0, 255, 255, 0.661);
transition: background 2s linear;
}
.accordion{
 z-index: 40;
  position: relative;

}

/* TABLET */
@media (min-width: 768px) {
  .header {
    height: 100px;
  }
  .burguer-menu {
    display: none;
  }
  .icon {
    display: none;
  }

  .home__main__header--search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    flex-wrap: wrap;
  }

  .home__main__input {
    width: 100%;
    padding: 10px;
    padding-right: 85px;
    border-radius: 30px;
    border: 0;
  }
  .home__main__header--search button {
    background-color: #fff;
    color: var(--colorGrisAzuladoOscuro);
    position: absolute;
    border: 0;
    top: 11px;
    bottom: 15px;
    right: 17px;
    margin: auto;
  }
  .icon--sportfit img {
    width: 80px;
    margin: 5px;
  }
  .header__nav--categoria {
    display: flex;
    position: absolute;
    left: 40px;
    top: 68px;
  }
  .header__nav__ul--categoria {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .header__nav__ul--categoria li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .header__nav__ul--categoria a{
    font-size: 10px;
    position: relative;
    right: 35px;
  }
  .header__nav--right {
    position: absolute;
    right: 15px;
    top: 18px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    font-size: 36px;
  }
  .accordion-item:last-of-type .accordion-button.collapsed{
    padding-top: 18px;
    padding-bottom: 14px;
  }
}
@media (min-width: 1024px) {
  .header__nav__ul--categoria a{
    font-size: 13px;
  }
}
