body.home {
  background-color: var(--colorGrisAzuladoClaro);
}
.home__products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  
}

.home__article {
  margin: 10px 0;
  width: 90%;
  background-color: #FFF;
  border-radius: 20px;
}
.home__article__info {
  text-align: center;
  color: #332f2c;
  text-decoration: none;
  margin-bottom: 0;
  background-color: var(----colorVerdeAgua);
  height: 220px;
  padding-top:53px ;
  border-radius: 20px;
 
}
.home__article__info p{
  text-decoration: line-through;
  color: black;
}

.home__article__info span{
  color: darkgreen;
}

.home__article h2 {
  text-align: center;
  color: #332f2c;
  font-size: 1.5rem;
}
.home__article p span {
  text-align: center;
  color: #332f2c;
  text-decoration: none;
  margin-bottom: 0;
}
.box{
  animation-name:change-color;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes change-color{
  0% {
    background-color: var(--colorVerde);
  }
  25%{ 
    background-color: var(--colorVerdeAzulado)
}
  50%{
    background-color: var(--colorVerdeclaro);
  }
  100%{
    background-color: var(--colorVerdeManzana)
  }
}

@media (min-width: 768px) {
  .home__banner {
    display: block;
  }

  .home__products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh 1vw;
  }
  .home__article {
    width: 45%;
  }

  .home__article a{
    text-decoration: none;
  }

  .home__article img{
    height: 345px;
  }
}
@media (min-width: 1024px) {
  .home__article {
    width: 23%;
  }

  
}
