.register{
  font-family: var(--Texto);
}


.register__main {
  background-color: var(--colorGrisAzuladoOscuro);
  padding: 5%;
}
.register__main__section{
  color: var(--colorGrisAzuladoClaro);
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.register__main__section--registro{
  width: 100%;
  margin-bottom: 3vh;
}

.register__main__section--registro H2{
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

.register__form--conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.register__group{
  width: 100%;
  text-align: start;
}

.register__label{
  color: var(--colorgrisOscuro);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_remove{
  opacity:  0;
 }

.register__possition {
  position: relative;
  align-items: center;
}

.register__possition i {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--colorgrisOscuro);
}
.register__input{
  border: none;
  border-bottom: 1px solid var(--colorGrisAzuladoOscuro);
  width: 100%;
}

.register__group--image{
  width: 100%;
  text-align: start;
  
}
.form__botton{
  width: 100%;
  padding-top: 16px;
}
.register--btn{
  width: 100%;
  background-color:var( --colorGrisAzuladoOscuro);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-shadow:  1px 3px #00000054;
}

.form__span{
  text-align: center;
  font-size: 15px;
 
}
.form__span p{
  padding: 5px;
}
.form__span a{
  color: #000000;
  font-weight: 900;
}

/* TABLET */
@media (min-width: 768px){
  .register__main__section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
}

/* DESKTOP */
@media (min-width: 1024px){
  .register__main__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }
    
  .register__main__section--registro H2{
    margin: 40px 0;
  }    
  .form__botton{
    width: 60%;
  }
  .register--btn{
    width: 100%;
  }
}
