.register{
  font-family: var(--Texto);
}

.register__main__section--registro H2{
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  color:#788199 ;
}

.register__form--conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 40px;
}
.register__group{
  width: 100%;
  text-align: start;
}
.icon_remove{
  opacity:  0;
 }
 
.icons__email__register{
  margin-left: 66vw;
}

.icons__password__register{
 margin-left: 33vh;
}
.icons__password2__register{
  
  margin-left: 33vh;
}
.register__label{
  color: var(--colorgrisOscuro);
  cursor: pointer;
}

.register__input{
  border: none;
  border-bottom: 1px solid var(--colorGrisAzuladoOscuro);
  width: 100%;
}
.form__botton{
  width: 100%;
  padding-top: 16px;
}
.register--btn{
  width: 100%;
  background-color:var( --colorGrisAzuladoOscuro);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-shadow:  1px 3px #00000054;
}

.form__span{
  text-align: center;
  font-size: 15px;
 
}
.form__span p{
  padding: 5px;
}
.form__span a{
  color: #000000;
  font-weight: 900;
}

/* TABLET */
@media (min-width: 768px){
  .register__main__section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .register__form--conteiner{
    width: 70%;
  }
  .icons__email__register{
    margin-left: 56vw;
    }
    
    .icons__password__register{
      
      margin-left: 56vw;
    }
    .icons__password2__register{
      
      margin-left: 56vw;
    }
  }

  /* DESKTOP */
  @media (min-width: 1024px){
    .register__main__section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; 
    }

  .register__form--conteiner {
    width: 100%;
  }
   .register__group {
    width: 60%;
  }
    
.form__botton{
  width: 60%;
}
  .register--btn{
    width: 100%;
  }
  .icons__email__register{
   
    margin-left: 52vw;
    }
    
    .icons__password__register{
     
      margin-left: 52vw;
    }
    .icons__password2__register{
      
      margin-left: 52vw;
    }
  
}

/* DESKTOP */
@media (min-width: 1440px){
  .icons__email__register{
   margin-left: 53vw;
    }
    
    .icons__password__register{
     
      margin-left: 53vw;
    }
    .icons__password2__register{
      
      margin-left: 53vw;
    }
  
}


