@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '/stylesheets/general.css';
@import'/stylesheets/footer.css';
@import'/stylesheets/home.css';
@import'/stylesheets/register.css';
@import'/stylesheets/header.css';
@import'/stylesheets/login.css';
@import'/stylesheets/carrusel.css';
@import'/stylesheets/productDetail.css';
@import'/stylesheets/carritoCompras.css';

