<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {
    title : "Quienes somos"
  }) %>

  <body style=" background-image: url(/images/fondogris.jpg);
  background-size: cover;">
    <%- include('./partials/header') %>
    <main >
 <h2 class="titulo">Quienes somos</h2>
<h3 class="texto">
Nos complace presentarles a Sport Fit, una plataforma de comercio electrónico diseñada para llevar la experiencia de compras en línea a un nivel superior.
<br>
Sport Fit se fundó con la visión de crear un espacio digital donde los clientes puedan encontrar una amplia gama de productos de alta calidad y una experiencia de compra sin complicaciones.
Nos esforzamos por ofrecer una plataforma intuitiva y segura que facilite a nuestros clientes encontrar y comprar lo que necesitan, desde la comodidad de sus hogares.
<br>
Excelencia en el servicio al cliente: Nos comprometemos a proporcionar un servicio excepcional que supere las expectativas de nuestros clientes en cada interacción.
<br>
Calidad y variedad de productos: Trabajamos con proveedores confiables para ofrecer una amplia selección de productos de calidad que satisfagan las necesidades y deseos de nuestros clientes.
<br>
Innovación y tecnología: Estamos constantemente buscando nuevas formas de mejorar y optimizar nuestra plataforma para brindar la mejor experiencia de compra en línea posible.
<br>
En  Sport Fit nos comprometemos a ofrecer una experiencia de compra en línea excepcional, donde la calidad, la variedad y la satisfacción del cliente son nuestras principales prioridades. Estamos emocionados de embarcarnos en este viaje con ustedes y esperamos convertirnos en su destino preferido para todas sus necesidades de compras en línea.
<br>
¡Gracias por eligirnos!
</h3>
    </main>
<%- include('./partials/footer') %>
  </body>
</html>

