<footer class="footer">
    <nav class="footer__nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <nav class="footer__nav__redes">
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-square-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
    </nav>
  </footer>