<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li><a href="/">Home</a> <i class="fa-solid fa-house"></i></li>
      <li><a href="#">Metedos de pagos</a>  <img src="/images/mega_ftr_pagos_1.png" alt="medios de pagos" />
      </li>
    <li><a href="">Envios a todo el pais</a>  <i class="fa-solid fa-truck"></i>
    </li>
      <li>
        <a href="/quienesSomos">¿Quienes somos?</a>
        <i class="fa-solid fa-users"></i> </li>

        <li><a href="#">redes sociales</a
        ><a href="https://twitter.com/"> <i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="/sucursales">sucursales</a>  
        <i class="fa-solid fa-store"></i></li>
      <li>
        <a href="#">Atencion al cliente</a>
        <a href="https://wa.me/1525837336"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="mailto:paomori18@gamil.com"><i class="fa-solid fa-envelope"></i></a>
      </li>
    </ul>
  </nav>

  <%- include('./scripts') %>
</footer>
