<header>
  <nav class="navbar" style="background-color: #666f88;">
    <div class="container-fluid ">
      <li class="nav-item">
        <a class="navbar-brand" href="/">SportFit</a>
        <a class="navbar-brand" aria-current="page" href="/admin">Inicio</a>
      </li>  

    </div>
  </nav>
</header>






