<header>
  <nav class="navbar" style="background-color: #666f88;">
    <div class="container-fluid ">
      <li class="nav-item">
        <a class="navbar-brand" href="/">SportFit</a>
        <a class="navbar-brand" aria-current="page" href="/admin">Inicio</a>
      </li>  

      <form class="d-flex" action="/admin/products/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Buscar" name="keyword">
        <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>
</header>






