<header class="header">
  <nav class="header__nav">
    <div class="icon--sportfit">
      <a href="/"> <img src="/images/logo-2.png" alt="logoSportFIt" /></a>
    </div>

    <ul class="header__nav--left">
      <li class="burguer-menu">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </li>
      <li class="icon">
        <a href="#"><i class="fa-solid fa-search"></i></a>
      </li>
      <form action="/search" method="GET">
        <div class="home__main__header--search">
          <input
            class="home__main__input"
            type="text"
            placeholder="Buscar"
            name="keyword"
          />
          <button type="submit"><i class="fa-solid fa-search"></i></button>
        </div>
      </form>
    </ul>

    <ul class="header__nav--right">
      
      <% if(locals.user) { %>
      <li>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
               <%= user.name %>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
               <a href="/users/perfil/<%= user.id %>"><strong style="color: rgb(65, 65, 77);">Perfil</strong></a> 
              </div>
              <% if (locals.user && user.rol == "admin") { %>
                <div class="accordion-body">
                  <a href="/admin"><strong style="color: rgb(65, 65, 77);">Dashboard</strong></a> 
                 </div>
                <% } %>
              </div>
              <% if (locals.user && user.rol == "user") { %>
                <div class="accordion-body">
                  <a href="/cart"><strong style="color: rgb(65, 65, 77);">Carrito</strong></a> 
                 </div>
                <% } %>
              <div class="accordion-body">
                <a href="/users/logout"><strong style="color: rgb(65, 65, 77);">Cerrar Sesion</strong></a>
              </div>
            </div>
          </div>
      </li>
      <%}else{%>
      <li>
        <a href="/users/login"><i class="fa-solid fa-user"></i></a>
      </li>
      <% } %>
    </ul>

    <nav class="header__nav--categoria">
      <ul class="header__nav__ul--categoria">
        <li><a href="/products">Productos</a></li>
        <li><a href="/products?categorie=1">Hombre</a></li>
        <li><a href="/products?categorie=2">Mujer</a></li>
        <% if (locals.user && user.role === 1) { %>
        <li><a href="/admin">Dashboard</a></li>
        <% } %>
      </ul>
    </nav>
  </nav>
</header>
