<!-- Modal -->
<div class="modal fade" id="modalDeleteWarning<%= id %>" tabindex="-1" aria-labelledby="modalDeleteWarningLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="modalDeleteWarningLabel">ADVERTENCIA</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <h4><span class="text-danger fs-3"><i class="fa-solid fa-circle-exclamation"></i></i></span>¿Esta seguro que desea eliminar el producto: <%= nombre %>?</h4>
        <form action="/products/remove/<%= id %>?_method=DELETE" method="POST">
          <div class="d-flex justify-content-end gap-3">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-danger">Aceptar</button>
          </div> 
         
      </form>
        
      </div>
    
    </div>
  </div>
</div>
